name: CI
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: '15.x'

      - uses: actions/cache@v2
        with:
          path: |
            ~/.npm
            node_modules
          key: |
            ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: ESLint cache
        uses: actions/cache@v2
        with:
          path: .eslintcache
          key: ${{ runner.os }}-eslint-${{ hashFiles('.eslintrc.yml') }}-${{ hashFiles('**/package-lock.lock') }}
          restore-keys: |
            ${{ runner.os }}-eslint-${{ hashFiles('.eslintrc.yml') }}-
            ${{ runner.os }}-eslint-

      - run: npm ci
      - run: npm run build
      - run: npm run test
      - run: npm run lint --cache
